USE [master]
GO
/****** Object:  Database [QL_THITRACNGHIEM]    Script Date: 06/11/2024 12:58:45 CH ******/
CREATE DATABASE [QL_THITRACNGHIEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_THITRACNGHIEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_THITRACNGHIEM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_THITRACNGHIEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_THITRACNGHIEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_THITRACNGHIEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_THITRACNGHIEM]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [varchar](50) NOT NULL,
	[QContent] [nvarchar](500) NULL,
	[OptionA] [nvarchar](500) NULL,
	[OptionB] [nvarchar](500) NULL,
	[OptionC] [nvarchar](500) NULL,
	[OptionD] [nvarchar](500) NULL,
	[Answer] [nvarchar](500) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CraetedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [varchar](50) NOT NULL,
	[SubjectName] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CraetedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestHistory]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestHistory](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SubjectID] [varchar](50) NOT NULL,
	[TestDate] [datetime] NULL,
	[CorrectAnswer] [int] NULL,
	[TotalQuestion] [int] NULL,
	[Mark] [int] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CraetedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_TestHistory] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [varchar](50) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Fullname] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Address] [nvarchar](150) NULL,
	[Birthday] [datetime] NULL,
	[Note] [varchar](50) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CraetedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleID] [varchar](50) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CraetedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([QuestionID], [SubjectID], [QContent], [OptionA], [OptionB], [OptionC], [OptionD], [Answer], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (708, N'HDH', N'Khái niệm nào mô tả việc phân chia CPU giữa các tiến trình?', N'Multitasking', N'Multithreading', N'Scheduling', N'Virtualization', N'Multitasking', N'dbo', CAST(N'2024-09-26T20:08:41.527' AS DateTime), N'dbo', CAST(N'2024-09-26T20:08:41.527' AS DateTime))
INSERT [dbo].[Question] ([QuestionID], [SubjectID], [QContent], [OptionA], [OptionB], [OptionC], [OptionD], [Answer], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (709, N'HDH', N'Khái niệm nào mô tả việc chuyển đổi CPU giữa các tiến trình?', N'Context Switching', N'Multithreading', N'Scheduling', N'Virtualization', N'Context Switching', N'dbo', CAST(N'2024-09-26T20:08:41.527' AS DateTime), N'dbo', CAST(N'2024-09-26T20:08:41.527' AS DateTime))
INSERT [dbo].[Question] ([QuestionID], [SubjectID], [QContent], [OptionA], [OptionB], [OptionC], [OptionD], [Answer], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (710, N'HDH', N'Khái niệm nào mô tả việc quản lý bộ nhớ ảo?', N'Paging', N'Segmentation', N'Swapping', N'Virtualization', N'Paging', N'dbo', CAST(N'2024-09-26T20:08:41.527' AS DateTime), N'dbo', CAST(N'2024-09-26T20:08:41.527' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
INSERT [dbo].[Subject] ([SubjectID], [SubjectName], [Description], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (N'ATTT', N'An toàn thông tin', N'Học về bảo mật và an toàn thông tin
', N'dbo', CAST(N'2024-09-25T22:19:38.520' AS DateTime), N'dbo', CAST(N'2024-09-25T22:19:38.520' AS DateTime))
INSERT [dbo].[Subject] ([SubjectID], [SubjectName], [Description], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (N'CSDL', N'Cơ sở dữ liệu', N'Nghiên cứu về hệ thống quản lý cơ sở dữ liệu
', N'dbo', CAST(N'2024-09-25T22:19:26.737' AS DateTime), N'dbo', CAST(N'2024-09-25T22:19:26.737' AS DateTime))
INSERT [dbo].[Subject] ([SubjectID], [SubjectName], [Description], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (N'CTDLGT', N'Cấu trúc dữ liệu và Giải thuật	', N'Nghiên cứu về cấu trúc dữ liệu và thuật toán
', N'Mree', CAST(N'2024-09-25T16:15:10.840' AS DateTime), N'Mree', CAST(N'2024-09-25T16:15:10.840' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TestHistory] ON 

INSERT [dbo].[TestHistory] ([TestId], [UserID], [SubjectID], [TestDate], [CorrectAnswer], [TotalQuestion], [Mark], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (5, 21, N'ATTT', CAST(N'2024-09-26T22:21:17.593' AS DateTime), 1, 10, 1, N'Mree', CAST(N'2024-09-26T22:21:17.697' AS DateTime), N'Mree', CAST(N'2024-09-26T22:21:17.697' AS DateTime))
INSERT [dbo].[TestHistory] ([TestId], [UserID], [SubjectID], [TestDate], [CorrectAnswer], [TotalQuestion], [Mark], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (9, 21, N'CTDLGT', CAST(N'2024-09-28T16:21:32.017' AS DateTime), 19, 45, 4, N'Mree', CAST(N'2024-09-28T16:21:32.077' AS DateTime), N'Mree', CAST(N'2024-09-28T16:21:32.077' AS DateTime))
INSERT [dbo].[TestHistory] ([TestId], [UserID], [SubjectID], [TestDate], [CorrectAnswer], [TotalQuestion], [Mark], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (1006, 21, N'LTWEB', CAST(N'2024-09-29T17:21:44.023' AS DateTime), 5, 10, 5, N'Admin', CAST(N'2024-09-29T17:21:44.127' AS DateTime), N'Admin', CAST(N'2024-09-29T17:21:44.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[TestHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccount] ON 

INSERT [dbo].[UserAccount] ([UserID], [RoleID], [Username], [Password], [Fullname], [Email], [PhoneNumber], [Address], [Birthday], [Note], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (18, N'Teacher', N'kimanh', N'123', N'Hoàng Kim Anh', N'ahnzy0407@gmail.com', N'0777999888', N'TP.HCM', CAST(N'2004-07-04T00:00:00.000' AS DateTime), N'new year', N'kimanh', CAST(N'2024-09-24T22:31:11.500' AS DateTime), N'kimanh', CAST(N'2024-09-25T15:24:49.310' AS DateTime))
INSERT [dbo].[UserAccount] ([UserID], [RoleID], [Username], [Password], [Fullname], [Email], [PhoneNumber], [Address], [Birthday], [Note], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (20, N'User', N'2001222', N'123', N'Trần Công Minh', N'tcongminh1604@gmail.com', N'0954876214', N'Hà nội', CAST(N'2004-04-25T00:00:00.000' AS DateTime), N'new year', N'2001222', CAST(N'2024-09-25T12:01:28.033' AS DateTime), N'2001222', CAST(N'2024-09-25T13:46:05.970' AS DateTime))
INSERT [dbo].[UserAccount] ([UserID], [RoleID], [Username], [Password], [Fullname], [Email], [PhoneNumber], [Address], [Birthday], [Note], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (21, N'Admin', N'Admin', N'123', N'Admin', N'admin@gmail.com', N'0777999496', N'Hà Nội', CAST(N'2004-03-09T00:00:00.000' AS DateTime), N'new year', N'Admin', CAST(N'2024-09-25T14:05:03.103' AS DateTime), N'Admin', CAST(N'2024-09-25T14:05:03.103' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserAccount] OFF
GO
INSERT [dbo].[UserRole] ([RoleID], [RoleName], [Description], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (N'Admin', N'Admin', N'Quản trị hệ thống', N'Admin', CAST(N'2024-09-24T22:23:59.333' AS DateTime), N'Admin', CAST(N'2024-09-24T22:23:59.333' AS DateTime))
INSERT [dbo].[UserRole] ([RoleID], [RoleName], [Description], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (N'Teacher', N'Giáo viên', N'Giáo viên', N'Teacher', CAST(N'2024-09-24T22:26:18.543' AS DateTime), N'Teacher', CAST(N'2024-09-24T22:26:18.543' AS DateTime))
INSERT [dbo].[UserRole] ([RoleID], [RoleName], [Description], [CreatedBy], [CraetedAt], [ModifiedBy], [ModifiedAt]) VALUES (N'User', N'Sinh viên', N'Sinh viên', N'Sinh viên', CAST(N'2024-09-24T22:27:09.450' AS DateTime), N'Sinh viên', CAST(N'2024-09-24T22:27:09.450' AS DateTime))
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_CreatedBy]  DEFAULT (user_name()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_CraetedAt]  DEFAULT (getdate()) FOR [CraetedAt]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [dbo].[Subject] ADD  CONSTRAINT [DF_Subject_CreatedBy]  DEFAULT (user_name()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Subject] ADD  CONSTRAINT [DF_Subject_CraetedAt]  DEFAULT (getdate()) FOR [CraetedAt]
GO
ALTER TABLE [dbo].[Subject] ADD  CONSTRAINT [DF_Subject_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[Subject] ADD  CONSTRAINT [DF_Subject_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [dbo].[TestHistory] ADD  CONSTRAINT [DF_TestHistory_CreatedBy]  DEFAULT (user_name()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TestHistory] ADD  CONSTRAINT [DF_TestHistory_CraetedAt]  DEFAULT (getdate()) FOR [CraetedAt]
GO
ALTER TABLE [dbo].[TestHistory] ADD  CONSTRAINT [DF_TestHistory_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[TestHistory] ADD  CONSTRAINT [DF_TestHistory_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_CreatedBy]  DEFAULT (user_name()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_CraetedAt]  DEFAULT (getdate()) FOR [CraetedAt]
GO
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_Role_CreatedBy]  DEFAULT (user_name()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_Role_CraetedAt]  DEFAULT (getdate()) FOR [CraetedAt]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_Role_ModifiedBy]  DEFAULT (user_name()) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_Role_ModifiedAt]  DEFAULT (getdate()) FOR [ModifiedAt]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Subject]
GO
ALTER TABLE [dbo].[TestHistory]  WITH CHECK ADD  CONSTRAINT [FK_TestHistory_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestHistory] CHECK CONSTRAINT [FK_TestHistory_Subject]
GO
ALTER TABLE [dbo].[TestHistory]  WITH CHECK ADD  CONSTRAINT [FK_TestHistory_UserAccount] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserAccount] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestHistory] CHECK CONSTRAINT [FK_TestHistory_UserAccount]
GO
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_UserAccount_UserRole] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRole] ([RoleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAccount] CHECK CONSTRAINT [FK_UserAccount_UserRole]
GO
/****** Object:  StoredProcedure [dbo].[Question_Delete]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Question_Delete]
@QuestionID int
as
delete from Question
 WHERE QuestionID = @QuestionID


GO
/****** Object:  StoredProcedure [dbo].[Question_GetById]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Question_GetById]
@QuestionID int
As
SELECT [QuestionID]
      ,[SubjectID]
      ,[QContent]
      ,[OptionA]
      ,[OptionB]
      ,[OptionC]
      ,[OptionD]
      ,[Answer]
      ,[CreatedBy]
      ,[CraetedAt]
      ,[ModifiedBy]
      ,[ModifiedAt]
  FROM [dbo].[Question]
  where QuestionID = @QuestionID


GO
/****** Object:  StoredProcedure [dbo].[Question_GetQuestionForTest]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--test: Question_GetQuestionForTest '15','TTNT'
CREATE proc [dbo].[Question_GetQuestionForTest]
@NumberOfQuestion int,
@SubjectID varchar(50)
as
Select *,N'Câu ' + CONVERT(varchar(20), ROW_NUMBER() over(order by QuestionID)) QuestionIndex
From(
SELECT top(@NumberOfQuestion)
		[QuestionID]
      ,[SubjectID]
      ,[QContent]
      ,[OptionA]
      ,[OptionB]
      ,[OptionC]
      ,[OptionD]
      ,[Answer]
  FROM [dbo].[Question]
  where SubjectID = @SubjectID
  Order By NEWID() 
) as TempQuestion



GO
/****** Object:  StoredProcedure [dbo].[Question_Insert]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Question_Insert]
	@SubjectID varchar(50)
	,@QContent nvarchar(500)
	,@OptionA nvarchar(500)
	,@OptionB nvarchar(500)
	,@OptionC nvarchar(500)
	,@OptionD nvarchar(500)
	,@Answer nvarchar(500)
	,@CreatedBy varchar(50)
as
INSERT INTO [dbo].[Question]
           ([SubjectID]
           ,[QContent]
           ,[OptionA]
           ,[OptionB]
           ,[OptionC]
           ,[OptionD]
           ,[Answer]
           ,[CreatedBy]
           ,[CraetedAt]
           ,[ModifiedBy]
           ,[ModifiedAt])
     VALUES
           (@SubjectID
           ,@QContent
           ,@OptionA
           ,@OptionB
           ,@OptionC
           ,@OptionD
           ,@Answer
           ,@CreatedBy
           ,GETDATE()
           ,@CreatedBy
           ,GETDATE())
GO
/****** Object:  StoredProcedure [dbo].[Question_Search]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Question_Search]
@Keyword nvarchar(200)
as
SELECT [QuestionID]
      ,[SubjectID]
      ,[QContent]
      ,[OptionA]
      ,[OptionB]
      ,[OptionC]
      ,[OptionD]
      ,[Answer]
      ,[CreatedBy]
      ,[CraetedAt]
      ,[ModifiedBy]
      ,[ModifiedAt]
  FROM [dbo].[Question]
  where QContent like N'%' + @Keyword + '%'
  or QuestionID like N'%' + @Keyword + '%'
  or SubjectID like N'%' + @Keyword + '%'
  or Answer like N'%' + @Keyword + '%'


GO
/****** Object:  StoredProcedure [dbo].[Question_SelectAll]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Question_SelectAll]
as
SELECT [QuestionID]
      ,[SubjectID]
      ,[QContent]
      ,[OptionA]
      ,[OptionB]
      ,[OptionC]
      ,[OptionD]
      ,[Answer]
      ,[CreatedBy]
      ,[CraetedAt]
      ,[ModifiedBy]
      ,[ModifiedAt]
  FROM [dbo].[Question]


GO
/****** Object:  StoredProcedure [dbo].[Question_Update]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Question_Update]
@QuestionID int,
		@SubjectID varchar(50)
           ,@QContent nvarchar(500)
           ,@OptionA nvarchar(500)
           ,@OptionB nvarchar(500)
           ,@OptionC nvarchar(500)
           ,@OptionD nvarchar(500)
           ,@Answer nvarchar(500)
           ,@ModifiedBy varchar(50)
as
UPDATE [dbo].[Question]
   SET [SubjectID] = @SubjectID
      ,[QContent] = @QContent 
      ,[OptionA] = @OptionA
      ,[OptionB] = @OptionB
      ,[OptionC] = @OptionC
      ,[OptionD] = @OptionD
      ,[Answer] = @Answer
      ,[ModifiedBy] = @ModifiedBy
      ,[ModifiedAt] = GETDATE()
 WHERE QuestionID = @QuestionID


GO
/****** Object:  StoredProcedure [dbo].[Subject_Delete]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Subject_Delete]
@SubjectID varchar(50)
as
delete from Subject
 WHERE [SubjectID] = @SubjectID 

GO
/****** Object:  StoredProcedure [dbo].[Subject_Insert]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Subject_Insert]
@SubjectID varchar(50),
@SubjectName nvarchar(50),
@Description nvarchar(50),
@CreatedBy varchar(50),
@ModifiedBy varchar(50)
as
INSERT INTO [dbo].[Subject]
           ([SubjectID],
           [SubjectName],
           [Description],
           [CreatedBy],
           [CraetedAt],
           [ModifiedBy],
           [ModifiedAt])
     VALUES
           (@SubjectID,
           @SubjectName,
           @Description,
           @CreatedBy,
           Getdate(),
           @ModifiedBy,
           Getdate())
GO
/****** Object:  StoredProcedure [dbo].[Subject_Search]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Subject_Search]
@Keyword nvarchar(200)
as
SELECT [SubjectID]
      ,[SubjectName]
      ,[Description]
      ,[CreatedBy]
      ,[CraetedAt]
      ,[ModifiedBy]
      ,[ModifiedAt]
  FROM [dbo].[Subject]
where SubjectName like N'%'+@Keyword+'%'
	or Description like N'%'+@Keyword+'%'

GO
/****** Object:  StoredProcedure [dbo].[Subject_SelectAll]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[Subject_SelectAll]
As
SELECT [SubjectID]
      ,[SubjectName]
      ,[Description]
      ,[CreatedBy]
      ,[CraetedAt]
      ,[ModifiedBy]
      ,[ModifiedAt]
  FROM [dbo].[Subject]

GO
/****** Object:  StoredProcedure [dbo].[Subject_Update]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Subject_Update]
@SubjectID varchar(50),
@SubjectName nvarchar(50),
@Description nvarchar(50),
@ModifiedBy varchar(50)
as

UPDATE [dbo].[Subject]
   SET [SubjectName] = @SubjectName 
      ,[Description] = @Description
      ,[ModifiedBy] = @ModifiedBy 
      ,[ModifiedAt] = GETDATE()
 WHERE [SubjectID] = @SubjectID 

GO
/****** Object:  StoredProcedure [dbo].[TestHistory_Insert]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TestHistory_Insert]
	@UserID int
    ,@SubjectID varchar(50)
    ,@TestDate datetime
    ,@CorrectAnswer int
    ,@TotalQuestion int
    ,@Mark int
    ,@CreatedBy varchar(50)
as
INSERT INTO [dbo].[TestHistory]
           ([UserID]
           ,[SubjectID]
           ,[TestDate]
           ,[CorrectAnswer]
           ,[TotalQuestion]
           ,[Mark]
           ,[CreatedBy]
           ,[CraetedAt]
           ,[ModifiedBy]
           ,[ModifiedAt])
     VALUES
           (@UserID
           ,@SubjectID
           ,@TestDate
           ,@CorrectAnswer
           ,@TotalQuestion
           ,@Mark
           ,@CreatedBy
           ,GETDATE()
           ,@CreatedBy
           ,GETDATE())
GO
/****** Object:  StoredProcedure [dbo].[TestHistory_LeaderBoard]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TestHistory_LeaderBoard]
@SubjectID varchar(50)
as
begin
	with CteLeaderBoard
as
(
	SELECT [TestId]
		  ,U.Username
		  ,U.Fullname
		  ,S.[SubjectID]
		  ,S.SubjectName
		  ,[TestDate]
		  ,[CorrectAnswer]
		  ,[TotalQuestion]
		  ,[Mark]
		  ,ROW_NUMBER() over(order by Mark Desc) MarkIndex
	  FROM [dbo].[TestHistory] T 
	  INNER JOIN UserAccount U on T.UserID=U.UserID
	  inner join Subject S on S.SubjectID = T.SubjectID
	  where T.SubjectID = @SubjectID
)


select * from CteLeaderBoard CRoot
where CRoot.MarkIndex = (select min(MarkIndex) 
						from CteLeaderBoard CChild
						where CChild.Username = CRoot.Username)
						order by CRoot.Mark DESC
end
GO
/****** Object:  StoredProcedure [dbo].[TestHistory_ReportBySubject]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TestHistory_ReportBySubject]
@SubjectID varchar(50)
as
begin
SELECT [TestId]
      ,[UserID]
	  ,(Select Fullname from UserAccount where UserID = T.UserID) Fullname
      ,[SubjectID]
      ,[TestDate]
      ,[CorrectAnswer]
      ,[TotalQuestion]
      ,[Mark]
      ,[CreatedBy]
      ,[CraetedAt]
      ,[ModifiedBy]
      ,[ModifiedAt]
  FROM [dbo].[TestHistory] T
  where SubjectID = @SubjectID
end
GO
/****** Object:  StoredProcedure [dbo].[TestHistory_ReportByTime]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TestHistory_ReportByTime]
@StartDate datetime,
@EndDate datetime
as
begin
SELECT [TestId]
	  ,(Select Fullname from UserAccount where UserID = T.UserID) Fullname
	  ,(Select SubjectName from Subject where SubjectID = T.SubjectID) SubjectName
      ,Convert(varchar(10),[TestDate],103) TestDate
      ,[CorrectAnswer]
      ,[TotalQuestion]
      ,[Mark]
  FROM [dbo].[TestHistory] T
  where DATEDIFF(day,@StartDate,TestDate)>=0
  And DATEDIFF(day,TestDate,@EndDate)>=0
end
GO
/****** Object:  StoredProcedure [dbo].[TestHistory_SelectAll]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TestHistory_SelectAll]
as
SELECT [TestId]
      ,[UserID]
      ,[SubjectID]
      ,[TestDate]
      ,[CorrectAnswer]
      ,[TotalQuestion]
      ,[Mark]
      ,[CreatedBy]
      ,[CraetedAt]
      ,[ModifiedBy]
      ,[ModifiedAt]
  FROM [dbo].[TestHistory]

GO
/****** Object:  StoredProcedure [dbo].[UserAccount_ChangePassword]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[UserAccount_ChangePassword]
@username varchar(50),
@newPassword varchar(50)
AS
begin
	update UserAccount
	set Password = @newPassword
	where Username = @username
end
GO
/****** Object:  StoredProcedure [dbo].[UserAccount_CheckExist]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserAccount_CheckExist]
	@Username varchar(50),
	@Password varchar(50)
As
Begin
	Select UserID
	From UserAccount
	Where Username = @Username And Password = @Password
end


GO
/****** Object:  StoredProcedure [dbo].[UserAccount_Delete]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UserAccount_Delete]
@UserId int
AS

DELETE FROM [dbo].[UserAccount]
where UserID = @UserId

GO
/****** Object:  StoredProcedure [dbo].[UserAccount_GetInforUser]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UserAccount_GetInforUser]
@Username nvarchar(200)
as
SELECT [UserID]
      ,[RoleID]
      ,[Username]
      ,[Password]
      ,[Fullname]
      ,[Email]
      ,[PhoneNumber]
      ,[Address]
      ,[Birthday]
      ,[Note]
      ,[CreatedBy]
      ,[CraetedAt]
      ,[ModifiedBy]
      ,[ModifiedAt]
  FROM [dbo].[UserAccount]
  where Username = @Username
GO
/****** Object:  StoredProcedure [dbo].[UserAccount_Insert]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UserAccount_Insert]
@RoleID varchar(50),
    @Username nvarchar(50),
    @Password varchar(50),
    @Fullname nvarchar(50),
    @Email varchar(50),
    @PhoneNumber varchar(50),
    @Address nvarchar(150),
    @Birthday datetime,
    @Note varchar(50),
    @CreatedBy varchar(50),
    @ModifiedBy varchar(50)
AS
Begin
if(not exists (select * from UserAccount where Username = @Username))
INSERT INTO [dbo].[UserAccount]
           ([RoleID],
           [Username],
           [Password],
           [Fullname],
           [Email],
           [PhoneNumber],
           [Address],
           [Birthday],
           [Note],
           [CreatedBy],
           [CraetedAt],
           [ModifiedBy],
           [ModifiedAt])
     VALUES
           (@RoleID,
           @Username,
           @Password,
           @Fullname,
           @Email,
           @PhoneNumber,
           @Address,
           @Birthday,
           @Note,
           @CreatedBy,
		   GETDATE(),
           @ModifiedBy,
		   GETDATE())
end


GO
/****** Object:  StoredProcedure [dbo].[UserAccount_Search]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[UserAccount_Search]
@Keyword nvarchar(200),
@RoleID varchar(50)
as
SELECT UserID
      ,RoleID
      ,Username
      ,Password
      ,Fullname
      ,Email
      ,PhoneNumber
      ,Address
      ,Birthday
      ,Note
      ,CreatedBy
      ,CraetedAt
      ,ModifiedBy
      ,ModifiedAt
  FROM dbo.UserAccount
  Where Username like '%'+@Keyword+'%' 
	or Fullname like N'%'+@Keyword+'%'
	or PhoneNumber like '%'+@Keyword+'%'
	or Email like '%'+@Keyword+'%'
	or Address like N'%'+@Keyword+'%'
	and (@RoleID = 'all' Or RoleID = @RoleID)
GO
/****** Object:  StoredProcedure [dbo].[UserAccount_SelectAll]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UserAccount_SelectAll]
as
SELECT UserID
      ,RoleID
      ,Username
      ,Password
      ,Fullname
      ,Email
      ,PhoneNumber
      ,Address
      ,Birthday
      ,Note
      ,CreatedBy
      ,CraetedAt
      ,ModifiedBy
      ,ModifiedAt
  FROM dbo.UserAccount

GO
/****** Object:  StoredProcedure [dbo].[UserAccount_Update]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create procedure [dbo].[UserAccount_Update]
	@UserID int,
	@RoleID varchar(50),
    @Username nvarchar(50),
    @Password varchar(50),
    @Fullname nvarchar(50),
    @Email varchar(50),
    @PhoneNumber varchar(50),
    @Address nvarchar(150),
    @Birthday datetime,
    @Note varchar(50),
    @ModifiedBy varchar(50)
AS
Begin
	UPDATE [dbo].[UserAccount]
   SET [RoleID] = @RoleID
      ,[Username] = @Username
      ,[Password] = @Password
      ,[Fullname] = @Fullname
      ,[Email] = @Email
      ,[PhoneNumber] = @PhoneNumber
      ,[Address] = @Address
      ,[Birthday] = @Birthday
      ,[Note] = @Note
      ,[ModifiedBy] = @ModifiedBy
      ,[ModifiedAt] = GETDATE()
	  where UserID = @UserID
end


GO
/****** Object:  StoredProcedure [dbo].[UserRole_SelectAll]    Script Date: 06/11/2024 12:58:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[UserRole_SelectAll]
As
SELECT [RoleID]
      ,[RoleName]
      ,[Description]
      ,[CreatedBy]
      ,[CraetedAt]
      ,[ModifiedBy]
      ,[ModifiedAt]
  FROM [dbo].[UserRole]



GO
USE [master]
GO
